@font-face {
    font-family: 'Formula1';
    src: url('../Fonts/Formula1.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Formula1-Bold';
    src: url('../Fonts/Formula1-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'TitilliumWeb';
    src: url('../Fonts/TitilliumWeb-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'TitilliumWeb-Light';
    src: url('../Fonts/TitilliumWeb-Light.ttf') format('truetype');
    font-style: normal;
    font-weight: 100;
}

@import url('https://fonts.googleapis.com/css?family=Lato');

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');